<div class="jumbotron">
    <h1>Welcome to this awesome new SocialNetwork</h1>
    <p>This SocialNetwork leverages OAuth 2.0 and OpenID Connect! Learn more about that on Pluralsight.</p>
    <a class="btn btn-large btn-success" href="/private">View your profile NOW</a>
</div>